:root {
  --body-background-color: rgb(25, 25, 28);
  --body-text-color: rgba(249, 249, 245, 0.75);
  --nav-border-bottom-color: #17cbd8;
  --up-border-left-color: #17cbd8;
  --tag-up-background-color: #17cbd8;
}
